#sidebar-wrapper {
    top: 0;
    bottom: 0;
    z-index: 1000; /*Posicao frontal*/
    position: fixed;
    left: 240px;
    width: 0;
    height: 100%;
    margin-left: -240px;
    border-right: 3px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    background: #434242;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 0;
}

#mostra-menu {
    display: inline;
    position: absolute;
    left: 5px;
    top: 70px;
    background: white;
    color: black;
    height: 30px;
    width: 40px;
}

#fecha-menu {
    display: inline;
}

#actions > div {
    text-align: center;
    margin-bottom: 10px;
}

#actions > div > button {
    padding: 8px 30px;
    border: 1px solid black;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
}

#actions > div > a {
    padding: 8px 30px;
    border: 1px solid black;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
}

.btn-logar:hover {
    background: #250C82;
}

.btn-reset:hover {
    background: #DD3535;
    color: white;
}

.btn-reset:focused {
    background: #DD3535;
    color: white;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 67px;
    padding-bottom: 20px;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #F4F003;
    font-size: 20px;
}

.topicos {
    padding-left: 10px;
    border: 1px solid black;
    color: white;
    background: black;
}

.sidebar-nav li {
    font-size: 12px;
    text-indent: 10px;
    line-height: 40px;
    border-bottom: 2px solid black;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: #250C82;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.page-header {
    text-align: center;
    border-bottom: 1px solid black;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  font-size: 15px;
}

.hr-text:before {
    content: '';
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    background: white;
}

table {
    text-align: center;
}

.table-custom {
    background: #250C82;
    color: white;
    text-shadow: 2px 2px #000;
}

.table-custom > tr > th {
    text-align: center;
}

.modal-mensagem-class {
    width: 95%;
}

@media(min-width:992px) {

    #sidebar-wrapper { /* Mostrar side-bar */
        width: 240px;
    }

    #page-content-wrapper {
        margin-left: 250px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin-right: 0;
    }

    #mostra-menu {
        display: none;
    }

    #fecha-menu {
        display: none;
    }

    #actions > div > button {
        padding: 8px 30px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    #actions > div > a {
        padding: 8px 30px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .modal-mensagem-class {
        width: 80%;
    }
}